// ===================
// Components
// ===================

// Navigation components
.l-nav-container {
    // Main container for the navigation
    position: fixed;
    height: 100%;
    background: $primary-blue-600;
    width: $nav-width;
    max-width: $nav-width;
    z-index: 10;
    transition: all .3s ease-in-out;

    .l-nav__title {
        font-size: 24px;
        margin: 20px 0 50px 0;
    }
}

.l-nav__nav--minimized {
    // Toggle class for minifying the nav-bar
    max-width: 50px;

    .l-nav-menu {
        // Hide the menu text when minifying the nav
        // TODO: Only show icons when minifying nav
        display: none;
    }

    .l-nav__title {
        display: none;
    }
}

.l-nav-menu {
    // The <ul> element containing the nav menu and nav items
    margin: 0 auto;
    padding: 0;
    height: 50px;

    .l-nav__nav-item {
        text-decoration: none;
        list-style: none;
        font-size: 18px;
        background: $primary-blue-300;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l-nav__nav-icon {
        opacity: 0.5;
    }

    .router-link-active {
        background: $primary-blue-500;
        .l-nav__nav-icon {
            opacity: 1;
        }
    }
}

.l-nav-bottom {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    

    .l-nav__nav-close {
        color: $gray-800;
        cursor: pointer;

    }
}

.top-nav__container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $primary-blue-100;
    .top-nav__nav-item {
        list-style: none;
        padding: 10px;
        
    }
    .router-link-exact-active {
        background: $primary-blue-200;
    }
}



// Main container and sections

.l-main-container {
    margin-left: $nav-width;
}

.messages {
    // Container for displaying all messages returned by API
    max-width: 400px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px 0 0 3px;
    position: fixed;
    top: 20px;
    left: 42%;
    z-index:2;

    // Start from 0 opacity and fade the container in and out
    //opacity: 0;
    animation: fade-in-out ease-in 5s forwards;
    p {
        color: $gray-900;
        margin: 0 0 5px 0;
    }
}

.success {
    border-left: 4px solid $accent-green-800;
    background-color: $accent-green-600;
}

.fail {
    border-left: 4px solid $accent-red-800;
    background-color: $accent-red-300;
}

.content-title {
    margin-top: 0px;
    padding-top: 20px;
}

// General components
.tabs-menu {
    display: inline-block;
    padding: 0;
    .tab {
        display: inline-block;
        list-style: none;
        padding: 10px;
    }
    .tab__active {
        background-color: $primary-blue-500;
        a {
            color: white;
        }
    }
}

// Icons

.icon-m {
    width: 50px;
}
// Building and HousingAssociation components

